[Desktop Entry]
Type=Application
Name=OLED Saver
Comment=Small tool to prevent your device from standby
Comment[de]=Kleines Tool, um zu verhindern, dass Ihr Gerät in den Standby-Modus geht
Exec=bastis-oledsaver %U
Icon=io.github.supertoq.oledsaver
Categories=Utility;
MimeType=application/x-basti-oledsaver;
StartupWMClass=OLED-Saver
X-Flatpak=io.github.supertoq.oledsaver
X-AppStream-Metadata=io.github.supertoq.oledsaver.metainfo.xml
X-AppStream-Screenshot=share/pixmaps/oledsaver_preview_img_light1.png
